{% extends 'GotChosenSiteBundle::layout_front_content.html.twig' %}

{% block title %}Login Disabled | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content">
        <div class="main staticpage">
        <h1 class="title">Login and Registration are disabled due to site maintenance <span class="title-bar" style="width: 490px;"></span></h1>
            <p>We apologize for the inconvenience while we are under construction.   We are currently working on a new site.  Come back soon...something BIG is coming!
            Click <a href="https://www.gotchosen.com">HERE</a> to learn more.</p>
            <p>Your friends at GotChosen.</p>
        </div>
    </div>

{% endblock %}