{% extends 'GotChosenSiteBundle::layout_front_content.html.twig' %}

{% block title %}Internet Privacy: Changing the Perception | {{ parent() }}{% endblock %}

{% block body %}

<div class="container" style="min-height:700px;padding-bottom:10px;">
    <h1 class="title">Internet Privacy: Changing the Perception <span class="title-bar" style="width: 790px;"></span></h1>

    <p>
        Data collection and behavior based tracking on the internet has been going on for years with virtually no oversight.
        Big business has been collecting the personal information of millions of private citizens both to sell as a commodity
        and to display targeted advertisements. The explosion in popularity of internet connected devices, combined with the
        rise of Big Data, now has businesses tracking people in surprising ways, including mobile apps, social networks, and
        tracking cookies. Even games like the popular Angry Birds can share your personal data. Here are two news stories,
        one from Congressional testimony, and the other from 60 Minutes.
    </p>

    <div style="height:100%;width:100%;border: 1px solid rgb(221, 221, 221); border-radius: 15px; padding: 5px 5px 5px 10px; margin-bottom: 25px;">
        <h1 class="title" style="color:#000;">Congressional Testimony Data Brokers: What Information Do Data Brokers Have on Consumers?</h1>
        <p style="color:#000;">Pam Dixon gave this testimony before the Senate Commerce Committee on December 18, 2013 at a hearing dedicated to shedding light on data broker industry practices and how that affects consumers.</p>

        <p style="color:#000;"><em>Published on Jan 15, 2014.</em></p>

        <object width="800" height="525">
            <param name="movie" value="https://www.youtube.com/v/gRa5C8sdaac?version=3&amp;hl=en_US"></param>
            <param name="allowFullScreen" value="true"></param>
            <param name="allowscriptaccess" value="always"></param>
            <embed src="https://www.youtube.com/v/gRa5C8sdaac?version=3&amp;hl=en_US" type="application/x-shockwave-flash"
                width="800" height="525" allowscriptaccess="always" allowfullscreen="true"></embed>
        </object>
    </div>

    <div style="height:100%;width:100%;border: 1px solid rgb(221, 221, 221); border-radius: 15px; padding: 5px 5px 5px 10px;">
        <h1 class="title" style="color:#000;">The Data Brokers: Selling your personal information</h1>
        <p style="color:#000;">Steve Kroft investigates the multibillion dollar industry that collects, analyzes and sells the personal
            information of millions of Americans with virtually no oversight.</p>

        <p style="color:#000;"><em>The following video is from "The Data Brokers" which aired on CBS 60 MINUTES on March 9, 2014.</em></p>

    <object width="800" height="525">
        <param name="movie" value="https://www.youtube.com/v/_Cty7ctycsI?version=3&amp;hl=en_US"></param>
        <param name="allowFullScreen" value="true"></param>
        <param name="allowscriptaccess" value="always"></param>
        <embed src="https://www.youtube.com/v/_Cty7ctycsI?version=3&amp;hl=en_US" type="application/x-shockwave-flash"
                width="800" height="525" allowscriptaccess="always" allowfullscreen="true"></embed>
    </object>

    </div>
</div>
{% endblock %}
