{% extends 'GotChosenSiteBundle::layout_front_content.html.twig' %}

{% block title %}Terms and Conditions | {{ parent() }}{% endblock %}

{% block body %}

    <div class="content">
        <div class="main padded wide">

            <h1 class="title">GotChosen Website Terms And Privacy Policies
                <span class="title-bar" style="width:510px;"></span></h1>

            <p>By accessing and browsing this Website, you agree to be bound by the Terms &amp; Conditions, and Privacy
               set forth below: <br/> <br/> <strong>Website Terms and Conditions</strong> <br/> <br/> The content on
               the website is copyrighted and may not be used without the written permission of GotChosen, Inc. <br/>
               <br/> GotChosen, Inc. neither warrants nor represents that your use of materials displayed on the
               website will not infringe rights of third parties not owned by or affiliated with GotChosen, Inc. <br/>
               <br/> The information contained on this website is provided without any warranties or representations as
               to the accuracy, completeness or timeliness of such information. GotChosen, Inc. assumes no liability or
               responsibility for any errors or omissions in the content of the website. GotChosen, Inc. reserves the
               right to modify the information contained in this website without notice, and makes no commitment to
               update the information contained in this website. <br/> <br/> IN NO EVENT WILL GOTCHOSEN, INC., OR ANY
               OF ITS AFFILIATES BE LIABLE FOR ANY DIRECT, INDIRECT, SPECIAL, CONSEQUENTIAL OR OTHER DAMAGES ARISING
               OUT OF THE USE OF THIS WEBSITE, INCLUDING WITHOUT LIMITATION, LOST PROFITS, BUSINESS INTERRUPTION AND
               LOSS OF PROGRAMS OR OTHER DATA. <br/> <br/> Please note that some jurisdictions may not allow the
               exclusion of implied warranties, so some of the above exclusions may not apply. GotChosen, Inc. also
               assumes no responsibility, and shall not be liable for, any damages to, or viruses that may infect, your
               computer equipment or other property on account of your access to, use of, or browsing in the website or
               your downloading of anything from the Website. <br/> <br/> Any communication or material you transmit to
               the website by electronic mail or otherwise, including any data, questions, comments, suggestions or the
               like is, and will be treated as, non-confidential and nonproprietary. Anything transmitted or posted to
               the website shall become the property of GotChosen, Inc. or its affiliates and may be used for any
               purpose. <br/> <br/> Any unauthorized use of any images on the website may violate copyright laws,
               trademark laws, the laws of privacy and publicity, and communications regulations and statutes. <br/>
               <br/> If you have questions, comments, or concerns related to our website, please contact
               info@gotchosen.com. <br/> <br/> <strong>Privacy Policy</strong> <br/> <br/> GotChosen is committed to
               protecting the privacy of our users (see Glossary at end of document for definitions) and scholarship
               drawings participants&rsquo; personal information. This statement applies with respect to the
               information that we collect from our web site, located at http://www.gotchosen.com. Amendments to this
               statement will be posted at this URL and will be effective when posted. <br/> By completing and
               submitting your entry form to GotChosen, Inc., you signify your agreement to our privacy policy. If you
               do not accept this privacy policy, please do not register at the website, enter the scholarship drawing
               on-line, or through the mail. This policy and our legal obligations under this policy are subject to the
               laws of Florida and the United States of America, regardless of the location of the user. Your continued
               use of this site following the posting of any amendment, modification, or change shall constitute your
               acceptance thereof. <br/> <br/> <strong>I. INFORMATION COLLECTED <br/> </strong>With regard to your
               registration at the website and scholarship drawing entry, we will ask you to provide certain verifiable
               information about yourself. This information will be used ONLY to certify that the information you
               provided is correct for purposes of identification and notification of winners. Please see the next
               section (USE OF INFORMATION) for details regarding what we do with this information. <br/> <br/>
               <strong>II. USE OF INFORMATION</strong> <br/> We will send users a confirmation e-mail when they
               register at the website, and/or for our drawings/sweepstakes entries. These confirmation e-mails are not
               promotional in nature and the user may not opt-out of receiving these confirmation e-mails. If you
               withdraw your entry and no longer wish to receive such correspondence, you may always follow the
               unsubscribe procedures which will be found within the commercial e-mails received from
               http://www.gotchosen.com. You may also contact http://www.gotchosen.com either through our &ldquo;Contact
               Us&rdquo; page or by writing directly to us at info@gotchosen.com. <br/> <br/> We do not rent, license,
               or sell personal data to third parties. In the event of a merger, acquisition, or change of control of
               GotChosen, customer data would be considered a business asset and would be transferred. We will disclose
               information we maintain when required to by law: for example, in response to a court order or a
               subpoena. We may also disclose personal information as required by law or to protect the safety and
               security of our users. We will retain your personal information for the period necessary to fulfill the
               purposes outlined in this Privacy Policy unless a longer retention period is required or permitted by
               law.<br/> <br/> <strong>III. USE OF IP ADDRESSES <br/> </strong>We use your IP Address to help diagnose
               problems with our server, and to administer our Web site. <br/> <br/> <strong>IV. USE OF COOKIES <br/>
               </strong>When you view our Web site we might store some information on your computer. This information
               will be in the form of a "cookie" or similar file. Cookies are small pieces of information stored on
               your hard drive, not on our site. Our cookies do not spy on you or otherwise invade your privacy, and
               they cannot invade your hard drive and steal information. Our cookies also do not collect or track any
               of your browsing habits or other information. Their sole use is in managing login session
               authentication. <br/> <br/> We may use an outside advertisement server company to display ads on our
               site. These ads may contain cookies. The advertisement server company may collect cookies received with
               these banner ads. We do not have access to information that would confirm the use of cookies by the
               advertisement server company. <br/> <br/> <strong>V. SECURITY <br/> </strong>Our Web site has industry
               standard security measures in place to protect the loss, misuse, and/or alteration of the information
               under our control. While there is no such thing as "perfect security" on the Internet, we will take all
               reasonable steps to insure the safety of your personal information. <br/> <strong> <br/> VI. OTHER WEB
                   SITES AND LINKS <br/> </strong>Our Web site contains links to other Web sites. GotChosen, Inc. is
               not responsible for the privacy practices or the content of such Web sites. <br/> <br/> <strong>VII.
                   CORRECTIONS AND UPDATES <br/> </strong>GotChosen allows its users the option to change or modify
               information previously provided, which is stored in your User Profile. This may be done by visiting the
               site, making the desired changes, and then saving the Profile. <br/> <br/> Unfortunately, to the extent
               that such information is also stored in other databases, we cannot always ensure that such corrections
               or deletions will reach the other databases. We will use all reasonable efforts to ensure that your
               information is removed from or corrected in our records. <br/> <br/> <strong>VIII. CHOICES AND OPT OUTs
                   <br/> </strong>You may opt-out of receiving promotional communications from us by visiting the
               Profile Page on the GotChosen website and following the relevant instructions. <br/> <br/> <strong>IX.
                   PUBLIC FORUMS <br/> </strong>This site may implement chat rooms, forums, message boards, and/or news
               groups available to its users. Please remember that any information that is disclosed in these areas
               becomes public information and you should exercise caution when deciding to disclose your personal
               information. <br/> <br/> <strong>X. CHILDREN</strong> <br/> Only persons age 18 and older may register
               for the site and no unregistered individuals should access the site. We do not knowingly collect
               personal information from children under 13. If we learn that we have collected the personal information
               of a child under the age of 13, we will take steps to delete the information as soon as possible. <br/>
               <br/> <strong>Contacting us: <br/> </strong>If you have any questions about this privacy statement, the
               practices of this site, or your dealings with this Web site, you can contact us at <a
                       href="mailto:info@gotchosen.com"> info@gotchosen.com</a>. <br/> <br/> <strong>Glossary: <br/>
               </strong>Visitor: (1) An individual with access only to the public portions of the website. (2) Also, an
               individual who does not register on the website. <br/> <br/> Registered User (same as &ldquo;User&rdquo;):
               An individual who registers on the site, but who has not necessarily applied to or enrolled in any (or
               any particular) GotChosen, Inc., drawing or contest. <br/> <br/> Participant: An user who has
               successfully applied to or enrolled in one or more GotChosen, Inc. drawings or contests. </p>

            <p>&nbsp;</p>
        </div>
    </div>

{% endblock %}