<p><strong>6<sup>th</sup> GotScholarship Give Away Rules and Regulations</strong></p>

<p><b>Highlights:<br/> </b></p>
<ul style="margin-top: 0; list-style-type: disc;">
    <li>The US $20,000 transferable prize <i>must be used</i> for educational expenses.</li>
    <li>No purchase is required.</li>
    <li>Entrants must be 18 years or older.</li>
    <li>A valid email address must be entered in your GotChosen’s Registration page for prize notification.</li>
</ul>
<p></p>

<p><b>Eligibility:</b></p>
<ul style="margin-top: 0; list-style-type: disc;">
    <li>The GotChosen Scholarship Drawing is open to United States* and international students and anyone with
        outstanding student loans, 18 years or older.
    </li>
    <li>There is no cost to enter, and eligibility is not based on financial need or academic performance.</li>
    <li>Employees of GotChosen, Inc., their respective parents, immediate family members, and persons living in the
        households of each of these individuals, whether related or not, are ineligible for this
        drawing.&nbsp; </li>
    <li>The drawing is subject to all applicable federal, state, and local laws and regulations, and the drawing or
        any offers herein is void where prohibited or restricted by law.&nbsp; </li>
</ul>

<p>The GotScholarship $20K Give Away is open from July 1, 2014 to September 30, 2014, 11:59 PM, Eastern Standard
    Time.</p>

<p>A random drawing from among all eligible entries received will be conducted in the U.S. under the direction of an
    independent audit. The name of the winner will be announced by October 31, 2014 at http://www.gotchosen.com.</p>

<p></p>

<p><b>To Enter:</b></p>

<p><b>Existing GotChosen members</b> simply need to Login, and click the “Apply” button in the “My Scholarship Panel”
    for the GotScholarship $20K Give Away scholarship.</p>

<p><b>New visitors</b> to GotChosen must complete an on-line registration and then click on the “Apply” button in
    the “My Scholarship Panel” for the GotScholarship $20K Give Away scholarship.</p>

<p>Participants, who do not have access to the internet, see instructions below for details on how to mail in a
    registration form.
    A valid email address is required to qualify for the GotChosen the GotScholarship $20K Give Away scholarship**.</p>

<p> By completing and submitting the registration, participants acknowledge and agree to the Rules and Regulations
    herein and to GotChosen’s Privacy Policy.</p>

<p><strong>Additional Entries</strong></p>

<p><strong>Asking for sponsors:</strong> Participants may increase their chances of winning by inviting family and friends to register and sponsor them by sharing their “Sponsor URL” link. A participant receives an additional entry each time someone sponsors them.</p>

<p><strong>Sponsoring a participant:</strong> Sponsors must be registered and the participant to be sponsored must also be registered and have applied for the scholarship.</p>

<ul>
    <li>You can only sponsor one person, but you may be sponsored by an unlimited number of persons.</li>
    <li>A person cannot sponsor himself or herself.</li>
</ul>

<p><strong>Odds of winning</strong></p>

<p>The winner of the drawing will receive a US $20,000 scholarship.  There will only be one winner.  The actual odds will
    depend upon the total number of eligible entries received prior to 11:59 PM Eastern Time on September 30, 2014. 
    Each eligible entry will have an equal chance of winning.  </p>

<p><strong>Prize Restrictions</strong></p>

<ul>
    <li>Scholarship funds must be used educational purposes, such as tuition, fees, books, supplies, equipment required for study, contribution to a 529 plan or prepaid college program (US only), or towards repayment of outstanding student loans.</li>
    <li>The prize is transferable and must be used for educational expenses or payment of outstanding student loan (person must be 18 years or older).</li>
    <li>The US $20,000 scholarship will be issued in one US $10,000 installment per year for two consecutive years (the winner must provide proof of legitimate educational expenditure from the prior year’s installment in order to receive a subsequent installment).</li>
    <li>If prize notification email is undeliverable, the prize will be awarded to an alternative winner. </li>
    <li>The winners’ name will be posted on http://www.gotchosen.com.  All information provided by eligible entrants will be verified.</li>
    <li>All federal, state, and local taxes and any other costs and expenses not specifically stated herein as being awarded are the winner’s sole responsibility.</li>
    <li>GotChosen reserves the right to change these terms and conditions at any time.</li>
</ul>

<p><strong>Prize Notification</strong></p>

<p>The winner will be notified by <strong style="text-decoration: underline">email only</strong>. A valid email address is required in your profile page. Instructions will be provided either to the winner or to a transferee/recipient designated by the winner. The winner (or transferee) will be required to provide picture identification, sign an Affidavit of Eligibility and Liability Release, and (where not prohibited by law) a Publicity Release to be awarded the prize. In the event of noncompliance with the Official Rules, or the prize notification is unclaimed within 5 calendar days of the date of the first notification attempt, or if any of the prize notifications are returned as undeliverable, the prize will be forfeited and may be awarded to an alternate winner.</p>

<p><strong>Additional Terms</strong></p>

<p>By participating, registrants agree to: (a.) the Official Rules and the decisions of GotChosen, Inc. which shall be final in all respects; and (b.) release, discharge, indemnify, and hold harmless GotChosen, Inc., their respective trustee, financial institutions, and promotion agencies, the respective officers, directors, agents, and employees of the aforementioned entities (collectively, the “Released Parties”) from any liability, claims, or damages arising out of their participation in the GotChosen drawing and the acceptance, use, misuse, or possession of any prize.</p>

<p>By accepting the prize, the winner agrees to, where legal, GotChosen, Inc. and its designees’ use of his/her name and/or likeness for publicity purposes in any and all media now or hereafter known without compensation and hereby provides consent to such use. As a condition of entering the GotChosen drawing, participant agrees that a.) Under no circumstances will participant be permitted to obtain awards for, and participant hereby waives all rights to claim punitive, incidental, consequential, or any other damages; b.) All causes of action arising out of or connected with this drawing, or any prizes awarded, shall be resolved individually, without resort to any form of class action; and c.) Any and all claims, judgments, and awards shall be limited to actual out-of-pocket costs incurred, but in no event attorney’s fees.</p>

<p><strong>Limitation of Liability</strong></p>

<p>Released Parties are not responsible for printing, typographical, human or other errors in any GotChosen-related materials; for stolen, lost, late, misdirected, damages, incomplete, illegible, or postage-due mail or entries; or for transactions that are processed late or incorrectly, or are lost due to computer or electronic malfunction or human error. GotChosen, Inc. reserves the right to cancel, suspend or modify the drawing and award the prize from among all eligible non-suspect entries received prior to action taken if fraud or technical failures or other events compromise the integrity of the drawing as determined by GotChosen, Inc. in its sole discretion. The drawing is governed by the laws of the State of Florida for the resolution of all claims and disputes.</p>

<p><strong>Winner’s Name</strong></p>

<p>The name of the winner will be announced by October 31, 2014 at http://www.gotchosen.com. This drawing is sponsored and administered by GotChosen, Inc., 12472 Lake Underhill Road #397, Orlando, FL 32828.</p>

<p>CONSUMER DISCLOSURE:  NO PURCHASE IS NECESSARY TO ENTER OR WIN.</p>

<p>* Excluding residents of New York State</p>

<p>**Participants, who do not have access to the internet may hand-print or type (in English only) their name, e-mail address, date of birth, street address, city, state, zip, phone number on a 3” x 5” card and mail it in a first-class stamped envelope to:</p>

<p>GotChosen $20K Give Away Contest<br />
12472 Lake Underhill Road #397<br />
Orlando, FL 32828 USA</p>

<p>All mail in registrations must be postmarked no later than September 30, 2014 at 11:59 PM.  Incomplete mail in registrations will be disregarded and you WILL NOT be eligible to participate in this drawing. GotChosen is not responsible for mailing costs.  A valid email address is required to qualify for the GotScholarship $20K Give Away.</p>

<p><strong>Glossary</strong></p>

<p>Visitor:  (1) An individual with access only to the public portions of the website. (2)  Also, an individual who does not register on the website.</p>

<p>Registered Member (same as “User”): An individual who registers on the site, but who has not necessarily applied to or enrolled in any GotChosen, Inc., drawing or contest.</p>

<p>Participant: An individual who has successfully applied to or enrolled in one or more GotChosen, Inc. drawings or contests.</p>
