{% extends 'GotChosenSiteBundle::layout_vs_static.html.twig' %}

{% block title %}Video Scholarship | {{ parent() }}{% endblock %}

{% block active_tab %}faq{% endblock %}

{% block vs_content %}
<div class="alert alert-error">
 <strong>Season 3 is finished.  Season 4 will begin in the Fall.</strong>
</div>

<p><strong>Who is eligible for the contest?</strong></p>
                <p>The contest is open to United States and international students and anyone with outstanding student loans, 18 years or older. The contest is offered to all fields of study.</p>
                <p><strong>What should the video be about? What limitations are there?</strong></p>
                <p>You must use one of the 5 categories:</p>
                <ol><li>Doing Good: reveal who has inspired you to change the world</li>
                <li>Let Me Dance: show us your best dance moves</li>
                <li>The Downfall of Internet Privacy: tell us how you see the general invasion of privacy on the internet</li>
                <li>Sports: capture the greatest sports moment of you or your friends</li>
                <li>Fake Commercial: make up a commercial for a fake movie or TV show</li></ol>
                <p>Disqualification: GotChosen reserves the right to remove any video and the entry for the contest that contains content that is deemed offensive in accordance to the specifications outlined in the rules and regulations and at its sole discretion.</p>
                <p><strong>How long, and how big can my video be?</strong></p>
                <p>We recommend videos under 3 minutes.</p>
                <p><strong>In what file type (format) should my video be recorded?</strong></p>
                <p>Since your first step is to upload your video to YouTube, here are the supported YouTube file formats: .MOV, .MPEG4, .AVI, .WMV, .MPEGPS, .FLV, 3GPP, and WebM.</p>
                <p><strong>When does the contest begin? When will it end?</strong></p>
                <p>The contest will begin on January 20, 2014 and end on April 21, 2014, 11:59 PM EDT</p>
                <p><strong>How do I submit my video?</strong></p>
                <p>In order to create your entry for the video contest, first, you must upload your video to YouTube, and then go to the GotChosen.com to create your entry (your YouTube video link will be required to complete your entry).</p>
                <ol><li><strong>Existing GotChosen users</strong> simply need to login, and create your entry for the Video Scholarship contest based on the 5 categories: Doing Good, Let Me Dance, The Downfall of Internet Privacy, Sports, Fake Commercial</li>
                <li><strong>New visitors to GotChosen must</strong>: (1) complete an on-line registration and (2) create your entry for the Video Scholarship contest based on the 5 categories listed above.</li></ol>
                <p><strong>Am I the only person that can be in the video?</strong></p>
                <p>Absolutely not. In fact, you don’t need to be in it at all. However, everyone in the video should understand that he or she is helping you win this scholarship. Should your video win, the only winner of the scholarship will be you, the registered GotChosen participant who submits the video entry. </p>
                <p><strong>Who can vote for the video?</strong></p>
                <p>Anyone and everyone you know. Registration is NOT required to vote. Each person can vote for your video once a day using the same IP address. </p>
                <p><strong>Can I vote for my own video?</strong></p>
                <p>Absolutely yes. You can vote once a day for your video. You did all the work to create your video - support yourself and vote every day.</p>
                <p><strong>How can I check my current number of votes?</strong></p>
                <p>You will see your current number of votes, privately displayed, on your profile page. </p>
                <p><strong>How are winners determined?</strong></p>
                <p>The video with the most votes will win a US $2,500 scholarship and the next 2 runner ups will each win a US $250 scholarship.</p>
                <p><strong>When and how will I know if I won?</strong></p>
                <p>The participants of the Three (3) videos with the most votes will be notified by email and will have 3 business days to provide verification of eligibility and compliance with the rules and regulations. The name of the Three (3) winners will be announced by May 30, 2014 at www.gotchosen.com. </p>
                <p>Note: The winners will be notified by e-mail only using the email address provided.</p>
                <p><strong>What if I have other questions not in this FAQ list?</strong></p>
                <p>Please visit the <a href="{{ path('vs_rules') }}">Rules</a> section of this website or send an email to <a href="mailto:info@gotchosen.com">info@gotchosen.com</a>.</p>




{% endblock %}
