{% extends 'GotChosenSiteBundle::layout_vs_static.html.twig' %}

{% block title %}Video Scholarship | {{ parent() }}{% endblock %}

{% block active_tab %}rules{% endblock %}

{% block vs_content %}
<div class="alert alert-error">
 <strong>Season 3 is finished.  Season 4 will begin in the Fall.</strong>
</div>

                <p><strong>Video Scholarship Contest Rules and Regulations</strong></p>
                <ul><li>Entrants must be 18 years or older.</li>
                <li>Participants must have internet access, provide a valid e-mail address and have a video recording device.</li>
                <li>Winners will be notified by e-mail only.</li>
                <li>No purchase necessary.</li>
                <li>Void where prohibited. This contest is governed by the laws of the state of Florida, United States of America.</li>
                <li>All federal, state and local laws and regulations apply.</li></ul>
                <p><strong>Eligibility: </strong></p>
                <ul><li>The Video Scholarship Contest is open to United States and international students and anyone with outstanding student loans, 18 years or older. The contest is offered to all fields of study.</li>
                <li>Each participant must register at http://www.gotchosen.com, and create his/ her entry for the contest. A participant is defined as an individual, not a group.</li>
                <li>The winners will be notified by the e-mail address provided.</li>
                <li>There is no cost to enter, and eligibility is not based on financial need or academic performance.</li>
                <li>Only one (1) video submission per participant is permitted.</li>
                <li>Each participant must upload their video to YouTube, and then paste the link in the “Create New Entry” form.</li>
                <li>We recommend videos under 3 minutes. Supported YouTube file formats are: .MOV, .MPEG4, .AVI, .WMV, .MPEGPS, .FLV, 3GPP, and WebM.</li>
                <li>Only the one (1) participant submitting the video is eligible for the scholarship. The video may contain an unlimited number of people of any age, but only the participant submitting the video will be eligible to win.</li>
                <li>Video must be original, and the participant must have the rights to any and all  media used. Videos must not infringe on any third-party rights or copyrights. If GotChosen receives a notice of copyright infringements from the owner of the material, the video in violation will be removed.</li>
                <li>Be advised - utilizing media that infringes on any copyright in this Video Scholarship Contest will not constitute “Fair Use” in accordance to the United States Code Title 17, Chapter 1, Section 107.</li>
                <li>Videos submitted for prior GotChosen contests are eligible for entry into the contest.</li>
                <li>Employees of GotChosen, Inc., their respective parents, immediate family members, and persons living in the households of each of these individuals, whether related or not, are ineligible for this drawing.</li>
                <li>The contest is subject to all applicable federal, state, and local laws and regulations, and the contest is void where prohibited or restricted by law.</li>
                <li>Fraud Prevention: Each video can be voted on once a day per IP address.</li>
                <li>Videos that are deemed to be immoral, obscene, profane; sexually explicit or suggestive; unnecessarily violent or derogatory of an ethnic, racial, gender, religious, professional or age group; pornographic; contain nudity; promote alcohol, illegal drugs, tobacco, firearms/weapons; promote particular political agenda or message; endorse forms of hate or a hate group; or not in keeping with GotChosen's image; or are in violation of these Official Rules, may be disqualified and the video removed.</li>
                <li>GotChosen reserves the right to remove any video and the entry for the contest that contains content that is deemed offensive in accordance to the specifications outlined in these rules and regulations and at its sole discretion.</li>
                <li>Entries that appear to duplicate any other submitted entries will be void and only the first entry submitted (based on time/date) will be included in the Contest.</li></ul>
                <p><strong>Contest Details:</strong></p>
                <p>The Season 3 Lights, Camera, Action Video Scholarship Contest will begin on January 20, 2014. Participants will be able to create their entries for the public to view and vote for their favorite video. The public voting period will end on April 21, 2014 at 11:59:59 p.m. EDT. </p>
                <p>All of the videos will be displayed in a random order throughout the whole contest.</p>
                <p>The number of votes received for each video will be tracked by GotChosen’s platform, and the Top 3 videos with the most votes will win. The video with the most votes will win a US $2,500 scholarship and the next 2 runner ups will each win a US $250 scholarship.</p>
                <p>Each participant will see their current number of votes, privately displayed, on their profile page. </p>
                <p><strong>To Enter:</strong></p>
                <p>In order to create your entry for the video contest, first, you must upload your video to YouTube, and then go to the GotChosen.com to create your entry (your YouTube video link will be required to complete your entry). </p>
                <p><strong>Existing GotChosen users</strong> simply need to Login, and create your entry for the Video Scholarship contest from one of the following 5 categories: </p>
                <ol><li>Doing Good: reveal who has inspired you to change the world</li>
                <li>Let Me Dance: show us your best dance moves </li>
                <li>The Downfall of Internet Privacy: tell us how you see the general invasion of privacy on the internet</li>
                <li>Sports: capture the greatest sports moment of you or your friends </li>
                <li>Fake Commercial: make up a commercial for a fake movie or TV show</li></ol>
                <p><strong>New visitors to GotChosen must</strong>: (1) complete an on-line registration and (2) create your entry for the Video Scholarship contest based on the available 5 categories listed above.</p>
                By completing and submitting their entry, participants acknowledge and agree to the Rules and Regulations herein and to GotChosen’s Privacy Policy.
                <p><strong>Prize Information:</strong></p>
                <ul><li>The US $2,500 scholarship and each US $250 scholarship will be issued in one installment. Scholarship funds must be used for educational purposes, such as tuition, fees, student loans, books, supplies, equipment required for study, or towards repayment of outstanding student loans. </li>
                <li>The winner's names will be posted on http://www.gotchosen.com. All information provided by winners will be verified before issuing the payment. </li>
                <li>All federal, state, and local taxes and any other costs and expenses not specifically stated herein as being awarded are the winner’s sole responsibility. </li>
                <li>GotChosen reserves the right to change these terms and conditions at any time. </li></ul>
                <p><strong>Prize Notification: </strong></p>
                <p>The final winners will be notified by e-mail only with instructions to provide picture identification, a written story about their contest experience, sign an Affidavit of Eligibility and Liability Release, complete a W9 form (if required) and (where not prohibited by law) a Publicity Release to be awarded the prize. In the event of noncompliance with the Official Rules, or the prize notification is unclaimed within 3 business days of the date of the first notification attempt, the prize will be forfeited and may be awarded to the next winner. </p>
                <p>Note: The winners will be notified by e-mail only using the email address provided.</p>
                <p><strong>Additional Terms: </strong></p>
                <p>By participating, registrants agree to: (1.) the Official Rules and the decisions of GotChosen, which shall be final in all respects; and (2.) release, discharge, indemnify, and hold harmless GotChosen, Inc., their respective trustee, financial institutions, affiliated advertising and promotion agencies, the respective officers, directors, agents, and employees of the aforementioned entities (collectively, the “Released Parties”) from any liability, claims, or damages arising out of their participation in the GotChosen Video Scholarship contest and the acceptance, use, misuse, or possession of any prize. </p>
                <p>By accepting the prize, the winner agrees to, where legal, GotChosen’s and its designees’ use of his/her name and/or likeness for advertising and publicity purposes in any and all media now or hereafter known without compensation and hereby provides consent to such use. As a condition of entering the GotChosen Video Scholarship contest, participant agrees that 1.) Under no circumstances will participant be permitted to obtain awards for, and participant hereby waives all rights to claim punitive, incidental, consequential, or any other damages; 2.) All causes of action arising out of or connected with this contest, or any prizes awarded, shall be resolved individually, without resort to any form of class action; and 3.) Any and all claims, judgments, and awards shall be limited to actual out-of-pocket costs incurred, but in no event attorney’s fees. </p>
                <p><strong>Limitation of Liability: </strong></p>
                <p>Released Parties are not responsible for printing, typographical, human or other errors in any GotChosen-related materials; for stolen, lost, late, misdirected, damages, incomplete or illegible entries; or for transactions that are processed late or incorrectly, or are lost due to computer or electronic malfunction or human error. GotChosen reserves the right to cancel, suspend or modify the contest and award the prize from among all eligible non-suspect entries received prior to action taken if fraud or technical failures or other events compromise the integrity of the contest as determined by GotChosen in its sole discretion. The contest is governed by the laws of the State of Florida for the resolution of all claims and disputes. </p>
                <p><strong>Winner’s Name: </strong></p>
                <p>The name of the winners will be announced by May 30, 2014 at http://www.gotchosen.com. This contest is sponsored and administered by GotChosen, Inc., 12472 Lake Underhill Road #397, Orlando, FL 32828. </p>
                <p>CONSUMER DISCLOSURE: NO PURCHASE IS NECESSARY TO ENTER OR WIN.</p>
{% endblock %}
