<form action="{{ path('fos_user_change_password') }}" {{ form_enctype(form) }} method="POST" class="form-horizontal">
    {{ form_widget(form) }}

    <div class="form-actions">
        <input type="submit" class="btn btn-primary" value="Change Password" />
    </div>
</form>
