<form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="form-horizontal">
    {% if invalid_username is defined %}
        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}, 'FOSUserBundle') }}</p>
    {% endif %}

    <div class="control-group">
        <label class="control-label" for="username">Username or E-mail <span class="req">*</span></label>
        <div class="controls">
            <input type="text" id="username" name="username" required="required" />
        </div>
    </div>

    <div class="submit-row">
        <input class="btn btn-primary" type="submit" value="Retrieve Password" />
        &nbsp;&nbsp;&nbsp;<a href="{{ path('fos_user_security_login') }}">Cancel</a>
        <span class="req-note"><strong>*</strong> Denotes required fields</span>
    </div>
</form>
