{% extends 'GotChosenSiteBundle::layout_eg.html.twig' %}

{% block title %}EvolutionGames | {{ parent() }}{% endblock %}

{% block active_tab %}faq{% endblock %}

{% block eg_content %}
<div class="alert alert-error">
 <strong>Our first season of Evolution Games has ended. The next season will start in the Fall.</strong>
</div>

    <div align="center">
        <a href="{{ path('eg_faq_scholarship') }}" class="btn btn-large btn-primary">Evolution Games Scholarship FAQs</a> <a href="{{ path('eg_faq_developers') }}" class="btn btn-large btn-success">Game Developers Contest FAQs</a>
    </div>

{% endblock %}
