{% extends 'GotChosenSiteBundle::layout_eg.html.twig' %}

{% block title %}EvolutionGames | {{ parent() }}{% endblock %}

{% block eg_tabs %}{% endblock %}

{% block eg_content %}

    <div class="game-container" style="text-align:left;">
        <div class="game-btn-top">
            <a class="btn" href="{{ path('eg_rules') }}"><i class="icon icon-backward"></i> Go Back</a>
        </div>
            <div style="border: 1px solid #DDDDDD;border-radius:15px;padding:5px;">


<p><strong>Evolution Games Scholarship Contest Rules and Regulations for Players</p></strong>

<p><strong>Highlights</p></strong>
<ul>
<li>The US $1,000 prize must be used for educational expenses or you can also play just for fun.</li>
<li>Open to United States and international students.</li>
<li>Entrants must be 18 years or older.</li>
<li>Winners will be notified by e-mail only.</li>
<li>No purchase is required. </li>
<li>Void where prohibited. This contest is governed by the laws of the state of Florida, United States of America.</li>
<li>All federal, state and local laws and regulations apply.</li>
</ul>

<p><strong>Eligibility</p></strong>
<ul>
<li>The Evolution Games Scholarship Contests are open to United States and international students and anyone
    with outstanding student loans, 18 years or older, or you can play just for fun.</li>
<li>There is no cost to enter, and eligibility is not based on financial need or academic performance. </li>
<li>Employees of GotChosen, Inc., their respective parents, immediate family members, and persons living in the
households of each of these individuals, whether related or not, are ineligible for this contest.  </li>
<li>The contest is subject to all applicable federal, state, and local laws and regulations, and the contest or
any offers herein is void where prohibited or restricted by law.  </li>
</ul>
<p>Each monthly contest will end on the last day of the month at 11:59 PM, Eastern Standard Time.
    One eligible player with the highest rank will be awarded US $1000. </p>

<p><strong>To Enter</p></strong>

<p><strong>Existing GotChosen members </strong>simply need to Login, and click the “Apply” button for each Round on
“My Scholarship Panel” for the Evolution Games Scholarship.</p>
<p><strong>New visitors</strong> to GotChosen must complete an online registration and then click on the “Apply” button
for each Round on “My Scholarship Panel” for the Evolution Games Scholarship.</p>
<p>Anyone that selects the option to “Play for Fun” is not eligible to win this contest.</p>
<p>By completing and submitting the registration, participants acknowledge and agree to the Rules and Regulations herein
and to GotChosen’s Privacy Policy.</p>

<p><strong>Odds of winning</p></strong>

<p>The winner of the each monthly contest Round of the Evolution Games Scholarship will receive a US $1000 scholarship. There
    will only be one winner. The actual odds will depend upon the total number of eligible registered players prior
    to end of each contest. </p>
<p>A registered player can win only one monthly Evolution Game Contest per lifetime. </p>

<p><strong>How to play the contest</p></strong>

<p>GotChosen offers different games for each contest. Each player receives five tokens per day (one token is required to
    play one game). A player can choose to play five different games or use all of the five tokens to play the same game or
    any combination. Unused tokens can be used any day later in the same month.</p>
<p>If a player joins the contest after the first day of the month, the player will receive five tokens for every day missed. </p>

<p><strong>Point System</p></strong>

<p>Practice play: For each contest, players will have one practice play for each game in the contest. Practice plays
    do not use tokens and do not generate points.</p>
<p>Players can earn points in three ways:</p>
<ol>
<li>One point for each game won. A game is won if a player’s score is among the top half of the scores for that game
that day. This is considered a point-generating score.</li>
<li>One point for each different game won. Player can increase their points by winning a variety of the ten games. </li>
<li>Points earned for helpful feedback to the game developers in either the Qualifier or the Scholarship Contest.
    Players can submit feedback about the games to the developers. Players can earn a maximum of 100 points per Round
    from feedback.  Only the top 20 highest rated feedback submissions will count towards the 100 point limit.  In addition,
    only the highest feedback rating per individual game will be used.  Example:  If a player has submitted feedback for 20
    different games and all of them were rated "5 points: Very Helpful", then the player will receive 100 points for that Round.
    Developers will rate the feedback based on the table below:</li>
</ol>
<ul>
<li>0 points: Not Helpful</li>
<li>1 point:  Somewhat Helpful</li>
<li>3 points: Helpful</li>
<li>5 points: Very Helpful</li>
</ul>

<p><strong>Ranking System</p></strong>

<p>The ranking system is a computer generated number that determines the position of each player and the winner of each
monthly and Championship Round. </p>

<p>The player’s rank is generated at the end of each day and the winner is determined on the last day of each Round. </p>

<p>The criteria used to generate the player’s rank are applied in the exact order below:</p>

<ol>
<li>Number of points (from the point system above)</li>
<li>Number of feedback replies from the developers to the player (not based on feedback sent or the number of points)</li>
<li>Overall position among point-generating scores for the month to date (a point-generating score is earned when the
player’s score is among the top half of the scores for that game that day)</li>
</ol>

<p>Note: The three criteria listed in the order above were designed to resolve any tie in the Rank position between
players for each game.</p>

<p><strong>Prize Restrictions</p></strong>

<ul>
<li>Scholarship funds must be used for educational purposes, such as tuition, fees, books, supplies, equipment required
for study or towards repayment of outstanding student loans.</li>
<li>The winner must provide notarized proof of current enrollment or current outstanding student loans.</li>
<li>If prize notification email is undeliverable, the prize will be awarded to an alternative winner.  </li>
<li>The winners’ name will be posted on http://www.gotchosen.com.  All information provided by eligible entrants will be
verified. </li>
<li>All federal, state, and local taxes and any other costs and expenses not specifically stated herein as being awarded
are the winner’s sole responsibility.</li>
<li>GotChosen reserves the right to change these terms and conditions at any time.</li>
</ul>

<p><strong>Prize Notification</p></strong>

<p>The winner will be notified by <strong>email only</strong>. A valid email address is required in order to register.
Instructions will be provided to the winner. The winner will be required to provide picture identification, sign an Affidavit
of Eligibility and Liability Release, and (where not prohibited by law) a Publicity Release to be awarded the prize. In the
event of noncompliance with the Official Rules, or the prize notification is unclaimed within 3 calendar days of the date of
the first notification attempt, or if any of the prize notifications are returned as undeliverable, the prize will be forfeited
and may be awarded to an alternate winner.</p>

<p><strong>Additional Terms</p></strong>

<p>By participating, registrants agree to: (a.) the Official Rules and the decisions of GotChosen, Inc. which shall be final
in all respects; and (b.) release, discharge, indemnify, and hold harmless GotChosen, Inc., their respective trustee, financial
institutions, and promotion agencies, the respective officers, directors, agents, and employees of the aforementioned entities
(collectively, the “Released Parties”) from any liability, claims, or damages arising out of their participation in the GotChosen
contest and the acceptance, use, misuse, or possession of any prize. </p>
<p>By accepting the prize, the winner agrees to, where legal, GotChosen, Inc. and its designees’ use of his/her name and/or
likeness for publicity purposes in any and all media now or hereafter known without compensation and hereby provides consent to
such use. As a condition of entering the GotChosen contest, participant agrees that a.) Under no circumstances will participant
be permitted to obtain awards for, and participant hereby waives all rights to claim punitive, incidental, consequential, or any
other damages; b.) All causes of action arising out of or connected with this contest, or any prizes awarded, shall be resolved
individually, without resort to any form of class action; and c.) Any and all claims, judgments, and awards shall be limited to
actual out-of-pocket costs incurred, but in no event attorney’s fees. </p>

<p><strong>Limitation of Liability</p></strong>

<p>Released Parties are not responsible for printing, typographical, human or other errors in any GotChosen-related materials; for
stolen, lost, late, misdirected, damages, incomplete, illegible, or postage-due mail or entries; or for transactions that are
processed late or incorrectly, or are lost due to computer or electronic malfunction or human error. GotChosen, Inc. reserves the
right to cancel, suspend or modify the contest and award the prize from among all eligible non-suspect entries received prior to
action taken if fraud or technical failures or other events compromise the integrity of the contest as determined by GotChosen,
Inc. in its sole discretion. The contest is governed by the laws of the State of Florida for the resolution of all claims and disputes.</p>

<p><strong>Winner’s Name</p></strong>

<p>The winner of each Contest Round with the highest rank will be awarded a US $1000 scholarship. The name of the winner will be
announced by the 27th of the following month at http://www.gotchosen.com. </p>
<p>The Evolution Games Scholarship Contest is sponsored and administered by GotChosen, Inc., 12472 Lake Underhill Road #397,
Orlando, FL 32828. </p>
<p>CONSUMER DISCLOSURE:  NO PURCHASE IS NECESSARY TO ENTER OR WIN.</p>

        </div>
</div>
{% endblock %}
