{% extends 'GotChosenSiteBundle::layout_front_content.html.twig' %}

{% block title %}EvolutionGames | {{ parent() }}{% endblock %}

{% block body %}
    <div class="content">
        <div class="main padded wide">
            <div style="height: 100%; width: 100%; background-color: black; padding: 10px; margin-top: 5px;">
                <div style="margin-left: auto; margin-right: auto; width: 720px;"><p style="text-align: center;"><img
                                src="{{ asset('bundles/gotchosensite/images/Evolution_logo_2.png') }}"
                                alt=""
                                style="height: 150px;"/></p></div>
                <div id="thevideo" style="display: block; margin-left: auto; margin-right: auto; width: 720px; margin-bottom: 10px;">
                    <object width="720" height="435" classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000"
                            codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,40,0">
                        <param name="allowFullScreen" value="true"/>
                        <param name="allowscriptaccess" value="always"/>
                        <param name="src"
                               value="http://www.youtube.com/v/94mc0dUSiPE?version=3&amp;hl=en_US&amp;autoplay=0"/>
                        <param name="allowfullscreen" value="true"/>
                        <embed width="720" height="435" type="application/x-shockwave-flash"
                               src="http://www.youtube.com/v/94mc0dUSiPE?version=3&amp;hl=en_US&amp;autoplay=0"
                               allowfullscreen="true" allowscriptaccess="always" allowfullscreen="true"/>
                    </object>
                </div>
                <div style="display: block; color: white;"><p><strong>GotChosen</strong> is excited to announce its
                        fourth
                        scholarship program - <span style="font-style:italic; font-weight:bold;">Evolution Games</span>
                    </p>
                    <ul>
                        <li>For game players, we’ll offer our <strong>Evolution Games Scholarship Contest</strong>
                            (coming
                            November 2013). Students will play games (for FREE! – see below) on our site. The player
                            with the
                            most accumulated points in a month will win a <span
                                    style="font-style:italic; text-decoration:underline;">$1,000 Scholarship</span>. In
                            our
                            Championship round in April, the player with the most points will win the <span
                                    style="font-style:italic; text-decoration:underline;">$3,000 Grand Prize Scholarship</span>!
                        </li>
                        <li>For indie game developers, we’ll offer our <strong>Evolution Games Seed Money
                                Contest</strong> (also
                            coming November 2013): Gamers worldwide will play your game. The two most played games in
                            our
                            monthly contests win <span
                                    style="font-style:italic; text-decoration:underline;">$500 Seed Money</span>, and go
                            on to
                            compete for our <span style="font-style:italic; text-decoration:underline;">$15,000 Evolution Games Grand Prize</span>!
                            We encourage our players to provide the developers with feedback to make your game better…
                            This is
                            the <span style="font-style:italic;">ultimate beta test</span> – for FREE!
                        </li>
                    </ul>
                    <p>So, <strong>Evolution</strong> Games will have three phases: </p>
                    <ul>
                        <li><span style="text-decoration:underline;">Phase One</span> - developers submit games for
                            public
                            voting. Create a brief description of your game, upload your HTML5 or Flash game to our
                            site. Our
                            universe of gamers will then check out your game - and vote for their favorite(s). The TEN
                            games
                            with the most votes each month will then compete head-to-head (in Phase Two).
                        </li>
                        <li><span style="text-decoration:underline;">Phase Two</span> - gamers play the ten games
                            chosen. The
                            TWO most-played games each month will each win our <span
                                    style="font-style:italic; text-decoration:underline;">$500 Seed Money</span> and the
                            player
                            with the most points accumulated will win a <span
                                    style="font-style:italic; text-decoration:underline;">$1,000 Scholarship</span>!
                        </li>
                        <li><span style="text-decoration:underline;">Final Phase</span> - our Championship Round. In
                            April 2014,
                            players will play for our <span style="font-style:italic; text-decoration:underline;">$3,000 Grand Prize Scholarship</span>,
                            and the developers with the top ten games will compete for our <span
                                    style="font-style:italic; text-decoration:underline;">Evolution Games Championship</span>
                            with a grand prize of $15,000 seed money!
                        </li>
                    </ul>
                    <p><span style="font-style:italic; font-weight:bold;">Game Developers</span> - where else can you
                        get
                        usability feedback from thousands of gamers – worldwide – at no cost to you and also have a
                        chance to
                        win seed money for your games?!?</p>

                    <p><span style="font-style:italic; font-weight:bold;">Game Players</span> – where else can you get
                        money for
                        school (including debt) for playing games?!?</p>

                    <p>We’re just getting started… <span style="font-weight:bold;">GotChosen</span> has already awarded
                        nearly
                        <span style="font-style:italic; text-decoration:underline;">$100,000 in scholarships</span> to
                        students
                        and video producers worldwide. Now, we’re expanding into games. So, <span
                                style="font-style:italic; text-decoration:underline;">get ready to have fun!!!</span>
                    </p>

                    <p>More details to follow soon!</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}